# global hide directory for project files, etc.
*_githide

# random files / folders that show up in projects
.idea/
.bundle/
.sass_cache/
vendor/
.tags
.tags_sorted_by_file
.gemtags
npm-debug.log
*dump.rdb
.vagrant

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
